<nav class=" navbar-inverse1 ">

    <div class="navbar-header">
    </div>
      <span class="logo"> </span>
    <div class="collapse navbar-collapse" id="menu-collapse" style="float:right">
      
        <ul class="navbar-nav">
          <!--<li> {{ link-to 'Home' 'home'}} </li>
            <!-<li>{{ link-to 'Test' 'test' disabled="true"}}</li>-->
          <!-- <li> {{ link-to 'Contact Us' 'home101'}}</li>-->      <!--     {{ link-to 'Take a Challenge' 'challenge' }}
            <!-<li>{{ link-to 'Report' 'report' invokeAction='reportCard' disabled="true"}}</li>
            <li>{{ link-to 'Addquestion' 'addquestion' disabled="true"}}</li>-->
         </ul>
    </div>

</nav>


<div class="portalbackground">
    <div class="container">
        <div class="subcontainer">
            <div class="col-sm-12">
                {{outlet}}
            </div>
        </div>
        <footer class="navbar-footer">
            <div class="col-md-12 center-align">
                <p class="text-muted">Copyright &copy; 2017 RapidQube<span style="visibility: hidden; text-align: right;">E - v1.0&nbsp;&nbsp;G - v1.0</span></p>
            </div>
        </footer>
    </div>
</div>